.about-us {

}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us__advantage {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

}

.about-us__advantage--ecology {

}

.about-us__advantage--price {

}

.about-us__advantage--like {

}

.about-us__advantage--work {

}

.about-us__advantage--country {

}

.about-us__advantage--gift {

}
