.btn {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--order {

}

.btn--review-write {

}

.btn--contact {

}

.btn--green {
  color: #fff;
  background: $mishka-green;
  border: none;
}

.btn--form-send {

}

.btn--place-order {

}
