.contacts {
  margin-top: 35px;
}

.contacts__wrapper {
  @include container
}

.contacts__title {
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__table {
  border-collapse: collapse;

  margin-bottom: 7px;

  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.contacts__table td {
  padding: 0;
  padding-bottom: 30px;
}

.contacts__table td:first-child {
  min-width: 78px;
}

.contacts__table-email-row {
  text-align: left;
  vertical-align: top;
}

.contacts__email-link {
  display: inline-block;
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid $mishka-green;
}

.contacts__table-adress-row {
  text-align: left;
  vertical-align: top;
}

.contacts__table-adress-row td:last-child {
  padding-right: 40px;
}

.contacts__map {

}



@media ($tablet-widths) {
  .contacts {
    margin-top: 61px;
  }

  .contacts__wrapper {
    position: relative;
  }

  .contacts__title {
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: -15px;
      right: 0;

      width: 47px;
      height: 82px;

      background-image: url(../../img/icon-flag.svg);
      background-repeat: no-repeat;
    }
  }

  .contacts__table {
    display: block;

    margin-bottom: 0;

    font-size: 17px;
  }

  .contacts__table tbody {
    display: flex;
    justify-content: space-between;
  }

  .contacts__table tr {
    width: 50%;
  }

  .contacts__table td {
    padding-bottom: 55px;
  }

  .contacts__table-adress-row td:last-child {
    padding-right: 0;
  }
}



@media ($desktop-widths) {
  .contacts {
    @include clearfix;

    width: 875px;

    margin-top: 71px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 175px;
  }

  .contacts__wrapper {
    float: left;
    width: auto;
  }

  .contacts__wrapper--desktop-first {
    margin-top: 70px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -9px;
      left: -112px;
    }
  }

  .contacts__table {
    display: table;
  }

  .contacts__table tbody {
    display: table-row-group;
  }

  .contacts__table td {
    padding-bottom: 30px;
  }

  .contacts__map {
    float: right;
    width: 525px;
  }
}
