.contacts {

}

.contacts__wrapper {
  padding: 0 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__table {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.contacts__table-email-row {

}

.contacts__email-link {
  display: inline-block;
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
}

.contacts__table-tel-row {

}

.contacts__map {

}
