.featured-product {

}

.featured-product__header {

}

.featured-product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.featured-product__subtitle {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $mishka-green;
  text-transform: uppercase;
}

.featured-product__item-description {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.featured-product__characteristics {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #444444;
}

.featured-product__preview {

}

.featured-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}
