.form-user-name-section {
  margin-bottom: 30px;
}

.form-user-name-section__container {
  @include container;
}

.form-user-name-section__title {
  position: relative;
  margin-bottom: 28px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $mishka-green;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    position: absolute;
    top: 7px;
    right: 0;

    width: 198px;
    height: 1px;

    border-top: 1px solid $mishka-green;
  }
}

.form-user-name-section__inner-wrapper {

}

.form-user-name-section__field-wrapper {
  margin-bottom: 20px;
}

.form-user-name-section__field-wrapper:last-child {
  margin-bottom: 0;
}

.form-user-name-section__label {
  display: block;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form-user-name-section__input {
  display: block;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #444;

  border: none;
  border-bottom: 2px solid #000;
}

.form-user-name-section__input:last-child {
  margin-bottom: 0;
}



@media ($tablet-widths) {
  .form-user-name-section {
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom: 46px;
  }

  .form-user-name-section__container {
    display: flex;
    align-items: baseline;
  }

  .form-user-name-section__title {
    width: 167px;

    &:after {
      display: none;
    }
  }

  .form-user-name-section__inner-wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 501px;
  }

  .form-user-name-section__field-wrapper {
    display: flex;
    align-items: baseline;

    width: 501px;

    margin-bottom: 14px;
  }

  .form-user-name-section__label {
    margin-right: 25px;

    font-size: 19px;
  }

  .form-user-name-section__input {
    padding-left: 17px;
    padding-right: 17px;

    font-size: 19px;
  }
}



@media ($desktop-widths) {
  .form-user-name-section__title {
    padding-left: 62px;

    width: 175px;

    box-sizing: border-box;
  }

  .form-user-name-section__inner-wrapper {
    width: 700px;
  }

  .form-user-name-section__field-wrapper {
    width: 700px;
  }
}
