.main-nav {
  @include clearfix;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 80px;
  height: 80px;

  background-image: url(../../img/icon-menu-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 80px;
  height: 80px;

  background-image: url(../../img/icon-menu-open.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__items--list-1 {

}

.main-nav__items--list-2 {

}

.main-nav__items--list-3 {
  display: none;
}

.main-nav__item {
  text-align: left;

  border-bottom: 1px solid #ececec;
}

.main-nav__item a {
  display: block;

  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;

  color: #000;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.main-nav__search,
.main-nav__shop-cart {
  position: relative;
}

.main-nav__search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  background-image: url(../../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.main-nav__shop-cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);

  width: 21px;
  height: 19px;

  background-image: url(../../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}



@media ($mobile-widths-only) {
  .main-nav--closed .main-nav__items {
    display: none;
  }

  .main-nav--opened .main-nav--wrapper {
    position: absolute;

    width: 100%;

    z-index: 10;
  }

  .main-nav__items {
    background-color: #fff;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav--wrapper {
    position: static;
  }
}



@media ($tablet-widths) {
  .main-nav .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    border-bottom: none;
  }

  .main-nav__item a {
    padding-left: 78px;
  }

  .main-nav__items--list-1 {
    position: absolute;
    top: 90px;
    left: 50px;

    font-size: 0;

    z-index: 10;
  }

  .main-nav__items--list-1 .main-nav__item {
    display: inline-block;
    vertical-align: top;

    margin-right: 35px;
  }

  .main-nav__items--list-1 a {
    padding: 16px 0;
    font-size: 15px;
  }

  .main-nav__items--list-2 {

  }

  .main-nav__items--list-2 .main-nav__item {
    display: inline-block;
    vertical-align: top;
  }

  .main-nav__items--list-2 a {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .main-nav__item .main-nav__search {
    font-size: 0;
    padding-left: 41px;
    padding-right: 41px;

    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .main-nav__search::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



@media ($desktop-widths) {
  .main-nav {
    width: 100%;
  }

  .main-nav--wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__items--list-1 {
    position: static;

    margin-right: auto;
  }

  .main-nav__items--list-1 .main-nav__item:nth-child(odd) {
    margin: 0;
    padding-right: 35px;
    border-right: 1px solid #ececec;
  }

  .main-nav__items--list-1 .main-nav__item:nth-child(even) {
    margin: 0;
    padding-left: 35px;
  }

  .main-nav__items--list-1 a {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 17px;
  }

  .main-nav__items--list-2 {
    margin-left: auto;
  }

  .main-nav__items--list-3 {
    display: block;
    position: absolute;
    top: 90px;
    left: 50px;

    font-size: 0;

    z-index: 10;
  }

  .main-nav__items--list-3 .main-nav__item {
    display: inline-block;
    vertical-align: top;

    margin-right: 62px;
  }

  .main-nav__items--list-3 a {
    padding: 16px 0;
    font-size: 15px;
  }
}
