.main-nav {

}

.main-nav__toggle {

}

.main-nav__items {
 list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  text-align: center;

  border-top: 1px solid #ececec;
}

.main-nav__item a {
  display: block;

  min-height: 80px;

  color: #000;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.main-nav__search {

}

.main-nav__shop-cart {

}
