.main-nav {

}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 80px;
  height: 80px;

  background-image: url(../../img/icon-menu-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  text-align: left;

  border-bottom: 1px solid #ececec;
}

.main-nav__item a {
  display: block;

  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;

  color: #000;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.main-nav__search,
.main-nav__shop-cart {
  position: relative;
}

.main-nav__search::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 18px;
  height: 18px;
  background-image: url(../../img/icon-search.svg);
  background-repeat: no-repeat;
}

.main-nav__shop-cart::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 21px;
  height: 19px;
  background-image: url(../../img/icon-cart.svg);
  background-repeat: no-repeat;
}
