.modal {

}

.modal--add-to-cart {

}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal__form {

}

.modal__description {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.modal__input {

}

.modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
}
