.order-form {
  margin-bottom: 55px;
}

.order-form__middle-wrapper {
  @include container;
  padding: 0 30px;
}

.order-form__description {
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}



@media ($tablet-widths) {
  .order-form {
    margin-bottom: 50px;
  }

  .order-form__description {
    margin-bottom: 10px;

    font-size: 17px;
    line-height: 30px;
  }

  .order-form__outer-wrapper {

  }
}

@media ($desktop-widths) {
  .order-form__description {
    padding-left: 175px;
    padding-right: 175px;
  }
}
