.order-form {
  margin-bottom: 55px;
}

.order-form__middle-wrapper {
  @include container;
  padding: 0 30px;
}

.order-form__description {
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.order-form__block {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  border: none;
}

.order-form__block-title {
  position: relative;
  margin-bottom: 35px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $mishka-green;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    position: absolute;
    top: 7px;
    right: 0;

    width: 198px;
    height: 1px;

    border-top: 1px solid $mishka-green;
  }
}

//.order-form label {
//  font-size: 17px;
//  line-height: 18px;
//  font-weight: bold;
//}
//
//.order-form input,
//.order-form__text-area {
//  font-size: 17px;
//  line-height: 18px;
//  font-weight: normal;
//  color: #444;
//}

//------------------------------------

//*****************
// Тип изделия
//*****************


//------------------------------------

//*****************
// Цвет изделия
//*****************

//------------------------------------

//*****************
// ФИО
//*****************

//------------------------------------

//*****************
// Телефон
//*****************
.order-form__block--user-tel {
  position: relative;

  margin-bottom: 30px;

  &::before {
    content: "";

    display: block;
    position: absolute;
    top: 34px;
    right: 5px;

    width: 25px;
    height: 25px;

    background-image: url(../../img/icon-phone.svg);
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.order-form__block--user-tel .order-form__block-title {
  margin-bottom: 5px;
}

.order-form__user-tel-label {

}

.order-form__user-tel-input {
  display: block;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;

  border: none;
  border-bottom: 2px solid #000;
}

//------------------------------------

//*****************
// Email
//*****************
.order-form__block--user-email {
  position: relative;
  &::before {
    content: "";

    display: block;
    position: absolute;
    top: 32px;
    right: 2px;

    width: 32px;
    height: 32px;

    background-image: url(../../img/icon-mail.svg);
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.order-form__block--user-email .order-form__block-title {
  margin-bottom: 5px;
}

.order-form__user-email-label {

}

.order-form__user-email-input {
  display: block;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;

  border: none;
  border-bottom: 2px solid #000;
}

//------------------------------------

//*****************
// Дополнительно
//*****************
.order-form__block--textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form__block--textarea .order-form__block-title {
  margin-bottom: 25px;

}

.order-form__text-area {
  width: 260px;
  height: 142px;

  padding: 15px;

  box-sizing: border-box;
  border: 2px solid #444;

  resize: vertical;
}
//------------------------------------

.order-form__help {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444;
}




@media ($tablet-widths) {
  .order-form {

  }

  .order-form__description {
    margin-bottom: 10px;

    font-size: 17px;
    line-height: 30px;
  }

  .order-form__outer-wrapper {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .order-form__outer-wrapper:nth-child(odd) {
    background-color: #f1f1f1;
  }

  .order-form__outer-wrapper:first-child {
    padding: 0;

    background-color: #fff;
  }

  .order-form__middle-wrapper {
    padding: 0 50px;
  }

  .order-form__block {
    display: flex;
    align-items: baseline;
  }

  .order-form__block-title {
    width: 167px;

    &::after {
      display: none;
    }
  }

  .order-form label {
    font-size: 19px;
  }

//*****************
// Тип изделия
//*****************

//*****************
// Цвет изделия
//*****************


//*****************
// ФИО
//*****************
  .order-form__outer-wrapper--user-name {
    padding-bottom: 40px;
  }

  .order-form__block--user-name {
    margin-bottom: 0;
  }

  .order-form__inner-wrapper--user-name-section {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    width: 501px;

    box-sizing: border-box;
  }

  .order-form__field-wrapper {
    display: flex;
    align-items: baseline;

    width: 501px;

    margin-bottom: 21px;
  }

  .order-form__user-name-label {
    margin-right: 20px;
  }

  .order-form__user-name-input {
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
  }

//*****************
// Тел/Email
//*****************
  .order-form__block--user-tel {
    &::before {
      top: 12px;
      right: 26px;
    }
  }

  .order-form__block--user-email {
    &::before {
      top: 5px;
      right: 23px;
    }
  }


  .order-form__user-tel-input {
    width: 501px;

    background-color: #f1f1f1;
  }

  .order-form__user-email-input {
    width: 501px;

    background-color: #f1f1f1;
  }
}



@media ($desktop-widths) {
  .order-form__description {
    padding-left: 175px;
    padding-right: 175px;
  }
}
