.order-form {
//  @include container;


  margin-bottom: 55px;
}

.order-form__outer-wrapper {

}

.order-form__middle-wrapper {
  @include container;
  padding: 0 30px;
}

.order-form__description {
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.order-form__block {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  border: none;
}

.order-form__block-title {
  position: relative;
  margin-bottom: 35px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $mishka-green;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    position: absolute;
    top: 7px;
    right: 0;

    width: 198px;
    height: 1px;

    border-top: 1px solid $mishka-green;
  }
}

.order-form label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.order-form input,
.order-form__text-area {
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #444;
}

//------------------------------------

//*****************
// Тип изделия
//*****************
.order-form__type-input {
  display: none;
}

.order-form__type-input + label{
  position: relative;
  display: block;

  padding-left: 62px;
  margin-bottom: 30px;

  &::before {
    content: "";

    position: absolute;
    top: -15px;
    left: 0;

    display: block;

    width: 36px;
    height: 36px;

    border: 2px solid #444;
    border-radius: 50%;
  }
}

.order-form__type-input:checked + label {
  &::after {
    content: "";

    position: absolute;
    top: -3px;
    left: 12px;

    display: block;

    width: 0;
    height: 0;

    border: 8px solid $mishka-green;
    border-radius: 50%;
  }
}

.order-form__type-input + label:last-child {
  margin-bottom: 0;
}

//------------------------------------

//*****************
// Цвет изделия
//*****************
.order-form__color-input {
  display: none;
}

.order-form__color-input + label {
  position: relative;
  display: block;

  padding-left: 62px;
  margin-bottom: 44px;

  &::before {
    content: "";

    position: absolute;
    top: -15px;
    left: 0;

    display: block;

    width: 36px;
    height: 36px;

    border: 2px solid #444;
  }
}

.order-form__color-input:checked + label {
  &::after {
    content: "";

    position: absolute;
    top: -2px;
    left: 9px;

    display: block;

    width: 23px;
    height: 16px;

    background-image: url(../../img/icon-tick.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.order-form__color-input + label:last-child {
  margin-bottom: 0;
}

//------------------------------------

//*****************
// ФИО
//*****************
.order-form__block--user-name .order-form__block-title {
  margin-bottom: 30px;
}

.order-form__user-name-label {
  display: block;
}

.order-form__user-name-input {
  display: block;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #000;
}

.order-form__user-name-input:last-child {
  margin-bottom: 0;
}

//------------------------------------

//*****************
// Телефон
//*****************
.order-form__block--user-tel {
  position: relative;

  margin-bottom: 30px;

  &::before {
    content: "";

    display: block;
    position: absolute;
    top: 34px;
    right: 5px;

    width: 25px;
    height: 25px;

    background-image: url(../../img/icon-phone.svg);
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.order-form__block--user-tel .order-form__block-title {
  margin-bottom: 5px;
}

.order-form__user-tel-label {

}

.order-form__user-tel-input {
  display: block;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;

  border: none;
  border-bottom: 2px solid #000;
}

//------------------------------------

//*****************
// Email
//*****************
.order-form__block--user-email {
  position: relative;
  &::before {
    content: "";

    display: block;
    position: absolute;
    top: 32px;
    right: 2px;

    width: 32px;
    height: 32px;

    background-image: url(../../img/icon-mail.svg);
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.order-form__block--user-email .order-form__block-title {
  margin-bottom: 5px;
}

.order-form__user-email-label {

}

.order-form__user-email-input {
  display: block;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;

  border: none;
  border-bottom: 2px solid #000;
}

//------------------------------------

//*****************
// Дополнительно
//*****************
.order-form__block--textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form__block--textarea .order-form__block-title {
  margin-bottom: 25px;

}

.order-form__text-area {
  width: 260px;
  height: 142px;

  padding: 15px;

  box-sizing: border-box;
  border: 2px solid #444;

  resize: vertical;
}
//------------------------------------

.order-form__help {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444;
}




@media ($tablet-widths) {
  .order-form {

  }

  .order-form__description {
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__outer-wrapper {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .order-form__outer-wrapper:nth-child(odd) {
    background-color: #f1f1f1;
  }

  .order-form__outer-wrapper:first-child {
    padding: 0;

    background-color: #fff;
  }

  .order-form__middle-wrapper {
    padding: 0 50px;
  }

  .order-form__block {
    display: flex;
    align-items: baseline;
  }

  .order-form__block-title {
    width: 167px;

    &::after {
      display: none;
    }
  }

  .order-form label {
    font-size: 19px;
  }

//*****************
// Тип изделия
//*****************
  .order-form__type-input + label{
    padding-left: 80px;
    margin-bottom: 55px;
    &::before {
      top: -17px;
      left: -2px;

      width: 47px;
      height: 47px;
    }
  }

  .order-form__type-input:checked + label {
    &::after {
      top: -2px;
      left: 13px;

      border: 11px solid $mishka-green;
      border-radius: 50%;
    }
  }

//*****************
// Цвет изделия
//*****************
  .order-form__outer-wrapper--color-section {
    padding-top: 65px;
  }

  .order-form__block--color-section {
    margin-bottom: 0;
  }

  .order-form__inner-wrapper--flex {
    display: flex;
    flex-wrap: wrap;

    padding-left: 80px;
  }

  .order-form__inner-wrapper--flex label{
    width: 50%;

    padding-left: 80px;
    box-sizing: border-box;
  }

  .order-form__color-input + label {
    padding-left: 82px;
    margin-bottom: 58px;

    &::before {
      top: -15px;
      left: 0;

      width: 50px;
      height: 50px;

      border: 2px solid #444;
    }
  }

  .order-form__color-input + label:nth-last-child(-n+3) {
    margin-bottom: 30px;
  }

  .order-form__color-input:checked + label {
    &::after {
      top: 0;
      left: 12px;

      width: 33px;
      height: 23px;
    }
  }

//*****************
// ФИО
//*****************

}
