.page-main-content {

}

.page-main-content__outer-wrapper {
  padding-bottom: 7px;

  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 7px;
}

.page-main-content__wrapper {
  @include container;
  margin-top: 27px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;

}



@media ($tablet-widths) {
  .page-main-content__outer-wrapper {
    padding-bottom: 16px;

    background-image: url(../img/bg-zigzag-line.svg);
    background-size: auto 16px;
  }

  .page-main-content__wrapper {
    margin-top: 0;
    margin-bottom: 52px;
  }
}



@media ($desktop-widths) {
  .page-main-content__outer-wrapper {
    padding-bottom: 24px;

    background-image: url(../img/bg-zigzag-line.svg);
    background-size: auto 24px;
  }
}
