.page-main-content {
//  position: relative;
}

.page-main-content__wrapper {
  @include container;
  margin-top: 27px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;

}

.page-main-content__content-zigzag {
  height: 7px;
  background-image: url(../../img/zigzag-line-mobile.png);
}



@media ($tablet-widths) {
  .page-main-content__main-page-zigzag {
    position: relative;
    top: -23px;

    height: 24px;

    background-image: url(../../img/zigzag-fill-tablet.png);

    z-index: 10;
  }

  .page-main-content__inner-page-zigzag {
    position: relative;
    top: -100px;

    height: 24px;

    background-image: url(../../img/zigzag-fill-tablet.png);

    z-index: 10;
  }

  .page-main-content__content-zigzag {
    height: 17px;
    background-image: url(../../img/zigzag-line-tablet.png);
  }
}



@media ($desktop-widths) {
  .page-main-content__main-page-zigzag {
    top: -33px;

    height: 34px;

    background-image: url(../../img/zigzag-fill-desktop.png);
  }

  .page-main-content__inner-page-zigzag {
    top: -160px;

    height: 34px;

    background-image: url(../../img/zigzag-fill-desktop.png);
  }

  .page-main-content__content-zigzag {
    height: 23px;
    background-image: url(../../img/zigzag-line-desktop.png);
  }
}
