.page-footer {
  margin: 0 auto;

  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include container
}

.page-footer__logo {
  display: none;
}

.page-footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 79px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__developer {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.page-footer__developer-link {
  position: relative;

  display: block;

  padding-right: 39px;
  padding-left: 38px;
  padding-top: 28px;
  padding-bottom: 27px;

  text-decoration: none;
  color: #000;
}

.page-footer__developer-link svg {
  position: absolute;
  top: 23px;
  right: 39px;
}

.page-footer__developer-link:hover path {
  fill: #46c1ae;
}

.page-footer__developer-link:active {
  opacity: 0.3;
}



@media ($tablet-widths) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 143px;
  }

  .page-footer__logo {
    display: block;

    margin-right: 84px;
  }

  .page-footer__logo[href] svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__social-links {
    justify-content: space-between;

    width: 155px;
    height: 80px;

    margin-left: auto;
    margin-right: auto;

    border-bottom: none;
  }

  .page-footer__developer {
    width: 191px;

    padding: 0;
  }

  .page-footer__developer-link {
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .page-footer__developer-link svg {
    top: 17px;
    right: 0;
  }
}
