.page-footer {
  margin: 0 auto;

  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include container
}

.page-footer__social-links {

}

.page-footer__developer {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.page-footer__developer a {
  font-size: 0;
  color: $mishka-green;
}

.page-footer__developer a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../../img/htmlacademy.svg);
  background-repeat: no-repeat;
}
