.page-footer {
  margin: 0 auto;

  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include container
}

.page-footer__logo {
  display: none;
}

.page-footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 79px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__developer {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.page-footer__developer a {
  position: relative;

  display: block;

  padding-right: 39px;
  padding-left: 38px;
  padding-top: 28px;
  padding-bottom: 27px;

  text-decoration: none;
  color: #000;
}

.page-footer__developer span {
  font-size: 0;
}

.page-footer__developer a::before {
  content: "";

  position: absolute;
  top: 22px;
  right: 39px;

  width: 27px;
  height: 35px;

  background-image: url(../../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
}

.page-footer__developer a:active {
  opacity: 0.3;
}



@media ($tablet-widths) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
  }

  .page-footer__logo {
    display: block;
    width: 185px;
  }

  .page-footer__social-links {
    justify-content: space-between;

    width: 155px;
    min-height: 80px;

    margin-left: auto;
    margin-right: auto;

    border-bottom: none;
  }

  .page-footer__developer {
//    display: block;

    width: 191px;

    padding: 0;
  }

  .page-footer__developer a {
    padding-top: 29px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .page-footer__developer a::before {
    top: 24px;
    right: 0;
  }
}
