.production-process {
  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);
  }
}

.production-process__title-wrapper {
  position: relative;

  padding: 30px;
  padding-top: 25px;
  padding-bottom: 23px;
}

.production-process__title {
  padding-left: 60px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);

    width: 32px;
    height: 32px;

    background-image: url(../../img/icon-video.svg);
    background-repeat: no-repeat;
  }
}

.production-process__video-wrapper {
  position: relative;
}

.production-process__video {
  display: block;

  width: 260px;
  height: 150px;
  background-color: #e5e5e5;
}

.production-process__video-start {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  &:hover {
    width: calc(100px * 1.2);
    height: calc(77px * 1.2);
  }

  &:active {
    opacity: 0.3;
    width: calc(100px * 0.8);
    height: calc(77px * 0.8);
  }
}

.production-process__description-wrapper {
  padding: 34px;
  padding-top: 27px;
}

.production-process__video-description {
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444;
}



@media ($tablet-widths) {
  .production-process {
    display: flex;
    flex-direction: column;
  }

  .production-process__title-wrapper {
    padding-top: 38px;
    padding-left: 45px;
    padding-right: 42px;
  }

  .production-process__title {
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 50px;
      left: 40px;
    }
  }

  .production-process__video-wrapper {
    order: -1;
  }

  .production-process__video {
    width: 668px;
    height: 455px;
  }

  .production-process__description-wrapper {
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 42px;
    padding-bottom: 45px;
  }

  .production-process__video-description {
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }
}



@media ($desktop-widths) {
  .production-process {
    display: block;
    @include clearfix;
  }

  .production-process__title-wrapper {
    float: right;

    width: 230px;

    padding-top: 95px;
    padding-left: 57px;
    padding-right: 59px;
  }

  .production-process__title {
    padding: 0;

    &::before {
      top: 57px;
      left: 58px;
    }
  }

  .production-process__video-wrapper {
    float: left;
    width: 682px;
  }

  .production-process__video {
    width: 682px;
  }

  .production-process__description-wrapper {
    float: right;

    width: 230px;

    padding-left: 57px;
    padding-right: 59px;
  }

  .production-process__video-description {
    margin-bottom: 47px;
  }
}
