.production-process {
  padding: 0 30px;
  width: 320px;
  margin: 0 auto;
}

.production-process__wrapper {
  border: 1px solid #ededed;

}

.production-process__inner-wrapper {
  padding: 0 30px;
}

.production-process__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.production-process__video-container {
  margin: 0;
}

.production-process__video {

}

.production-process__video-start {

}

.production-process__video-description {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444;
}
