.reviews {
  margin-top: 52px;
  margin-bottom: 43px;

}

.reviews__title {
  margin-bottom: 24px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__wrapper {
}

.reviews__buttons {
  margin-top: 30px;
}

.reviews__buttons-wrapper {
  margin-bottom: 38px;
  font-size: 0;
}

.reviews__buttons-wrapper button {
  padding: 0;

  width: 50%;
  height: 52px;

  box-sizing: border-box;
  border: 1px solid #ececec;
  background-color: #fff;
}

.reviews__previous-review {
  background-image: url(../../img/icon-left-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__next-review {
  background-image: url(../../img/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}




@media ($tablet-widths) {
  .reviews {
    position: relative;

    margin-bottom: 116px;
    padding-top: 75px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;

      width: 350px;
      height: 457px;

      background-image: url(../../img/review@1x.jpg);
      background-repeat: no-repeat;
      background-color: #f5f5f5;

      z-index: -100;

      @media #{$retina} {
        background-image: url(../../img/review@2x.jpg);
        background-size: contain;
      }
    }
  }

  .reviews__title {
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;

    z-index: 10;
  }

  .reviews__buttons {
    position: absolute;
    top: 80px;
    right: 0;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    width: 175px;
    height: 330px;

    margin: 0;
  }

  .reviews__buttons-wrapper {
    width: 175px;

    margin-bottom: 0;
  }

  .reviews__buttons-wrapper button {
    border: none;
  }
}



@media ($desktop-widths) {
  .reviews {
    margin-bottom: 0;
    padding-top: 71px;
    padding-left: 175px;
    padding-right: 75px;
    padding-bottom: 113px;

    &::before {
      left: 0;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__buttons {
    height: 280px;
  }
}
