.shop-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shop-links__item {
  min-height: 100px;
  padding: 0 30px;
  background: #63d1bb;
}

.shop-links__item--darker {
  background: #56c3b2;
}

.shop-links__link {
  display: block;
  height: 100%;

  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

}

.shop-link__text {

}

// Забыл как вставлять изображения через псевдоэлемент... :-/
.shop-link__text--stuff-img::after {
  position: absolute;
  background: url("../../img/icon-interior.svg") no-repeat 50% 50%;
}

.shop-link__text--toys-img {

}
