.social-btn {
  position: relative;
  width: 40px;
  height: 40px;

  font-size: 0;
}

.social-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.social-btn--facebook {
  margin: 0 20px;
}

.social-btn:hover path {
  fill: $mishka-green;
}

.social-btn:active {
  opacity: 0.3;
}
