.social-btn {

}

.social-btn__link {
  padding-left: 40px;
  color: #444444;
}

.social-btn--instagram {
  background: url(../../img/icon-insta.svg) no-repeat ;
}

.social-btn--facebook {
  background: url(../../img/icon-fb.svg) no-repeat ;
}

.social-btn--twitter {
  background: url(../../img/icon-twitter.svg) no-repeat ;
}
