.user-review {

}

.user-review__text {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.user-review__user-name {
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.user-review__user-nickname {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}




@media ($tablet-widths) {
  .user-review {
    z-index: 10;
  }

  .user-review__text {
    margin-bottom: 60px;

    font-size: 17px;
  }

  .user-review__user-name {
    margin-bottom: 0;

    font-size: 17px;
  }

  .user-review__user-nickname {
    font-size: 17px;
  }
}
